consumesoap/src/main/mule/consumesoap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="73c58825-7a9a-4369-9421-661df6c87319" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8b3b68a6-90c8-4467-ac34-080eb558de1c" >
		<wsc:connection wsdlLocation="https://www.learnwebservices.com/services/hello?WSDL" service="HelloEndpointService" port="HelloEndpointPort" address="https://www.learnwebservices.com/services/hello" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="consumesoapFlow" doc:id="c2b2d3a1-cf85-4a96-b91e-358d15468da8" >
		<http:listener doc:name="Listener" doc:id="fd7a3128-b872-44ff-9880-e2996bdc4474" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="f3be3435-6007-4527-9891-cb45a9800248" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://learnwebservices.com/services/hello
---
{
	ns0#SayHello: {
		ns0#HelloRequest: {
			ns0#Name: payload
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="c4a00cdb-e744-4803-875e-10c8bf849e64" config-ref="Web_Service_Consumer_Config" operation="SayHello"/>
		<ee:transform doc:name="Transform Message" doc:id="a76cefa4-5137-4499-9162-98f6494640c9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 http://learnwebservices.com/services/hello

output application/xml
---
{
	"Greetings": payload.body.SayHelloResponse.HelloResponse.Message
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
